{% extends "_base.htm" %}

{% block title %}
	Page 1
{% endblock %}

{% block pageblock %}

	<div id="up" style="text-align: right;">
		<h3><a href="index.htm">back to main page</a><br/></h3>
	</div>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data =data

        var options = {
          title: 'My Daily Activities'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
  </body>
{% endblock %}
